<div class="panel panel-default">
<strong>Add a Home Gardener</strong>
<%= form_for([@gardener]) do |g| %>
<%= render "shared/error_messages", :target => @gardener %>
<fieldset>

      <%= g.label :first_name %> 
      <%= g.text_field :first_name %>
    </p>

    <p>
      <%= g.label :last_name %> 
      <%= g.text_field :last_name %>
    </p>
    
      <p>
      <%= g.label :age %>
      <%= g.number_field :age %>
      </p>

      <p>
      <%= g.label :gender %> <br/>
       <%= g.radio_button :gender, :male %> 
       <%= g.label :gender_male, "Male" %> <br/>
        

     <%= g.radio_button :gender, :female %> 
     <%= g.label :gender_femaile, "Female" %> <br/>

     <%= g.radio_button :gender, :other %> 
     <%= g.label :gender_other, "Other" %> |

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
