
<div class="panel panel-default">

<table class="table">
<thead>
  <tr>
    <th>First Name</th>
    <th> Address </th>
    <th> Contact Number</th>
    <th> id number</th>
  </tr>
  </thead>

  <% @gardeners.each do |gardener| %>
  <tr>
    <td> <%= gardener.first_name %> </td>
     <td> <%= gardener.last_name %> </td>
     <td> <%= gardener.id_number %></td>

    <!-- /groups/:group_id/gardeners/:id -->
    <td><%= link_to 'Show', [gardener] %></td>
    <!-- /groups/:group_id/gardener/:id/edit -->
    <td><%= link_to 'Edit', edit_gardener_path(gardener)%></td>
  </tr>
  </tr>
      <% end %>
</table>

<br />

<%= link_to 'New Gardener', new_gardener_path %> <!-- /groups/group_id/gardeners/new -->
</div>